* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fffafa;
  background: linear-gradient(
    156deg,
    rgb(245, 216, 216) 0%,
    rgba(252, 235, 235, 1) 48%,
    rgba(230, 230, 230, 1) 100%
  );
}
/* -------------------------------------------------------- */
.maincontainer {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  background-color: #ffcaca;
}
.top {
  background: linear-gradient(to right, #1a2b4c, #2e2e2e);
  position: relative;
  width: 100%;
  height: 470px;
  grid-template-columns: 2fr 3fr;
}
/* -------------------------------------------------------- */
.top h2 {
  color: rgba(250, 255, 240, 0.929);
  font-size: 68px;
  margin-left: 40px;
  padding-top: 40px;
}
.top span {
  color: rgba(250, 255, 240, 0.929);
  font-size: 37px;
  font-weight: 90;
}
/* -------------------------------------------------------- */
.hdr {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-right: 12px;
}
.leftside img {
  width: 300px;
  height: 300px;
  margin-left: 3vh;
  margin-top: 2vh;
}
/* -------------------------------------------------------- */
.about {
  color: rgb(223, 224, 223);
  font-size: 21px;
  padding: 10px;
  margin-bottom: 70px;
  line-height: 30px;
}
/* -------------------------------------------------------- */
/* ---------------------Middle/Contacts-------------------- */
/* -------------------------------------------------------- */
.middle {
  position: relative;
  display: grid;
  margin: 50px 30px 0;
  gap: 40px;
  /* ---------------------------------- */
  grid-template-columns: 2fr 3fr;
  /* ------------------------------- */
}
h4 {
  background-color: #1a2b4c;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #fffafa;
  font-weight: 600;
  padding: 0 15px;
  display: inline-flex;
  margin-top: 30px;
}
.contactInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}
.contactInfo li {
  list-style: none;
  display: flex;
  gap: 6px;
}
.contactInfo li .icon {
  color: #341861e2;
}
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  color: #852f2f;
  transform: scale(1.05);
}
/* -------------------------------------------------------- */
/* ----------------------Languages------------------------- */
/* -------------------------------------------------------- */
.languages .languagesbox {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  margin: 20px;
  margin-left: 0;
}
.languages .languagesbox p {
  color: #333;
}
.languages .languagesbox .value {
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #eee;
}
.languages .languagesbox .value::before {
  content: "";
  position: absolute;
  width: var(--i);
  height: 100%;
  background: #0867c6;
}
.arrow {
  margin-left: 1px;
  margin-right: 1px;
}
.parag {
  margin: 0;
}
.langmargin {
  margin-top: 17px;
}
/* -------------------------------------------------------- */
/* ------------------Volunteer Experience------------------ */
/* -------------------------------------------------------- */
#Volunteer {
  font-size: 17px;
}
#volsize1 {
  font-weight: bold;
  font-size: 17px;
}
#volsize2 {
  font-weight: bold;
  font-size: 17px;
}
.vole {
  margin-left: 15px;
}
/* -------------------------------------------------------- */
/* ------------------------Hobbies------------------------- */
/* -------------------------------------------------------- */
.interests {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.hobby {
  display: flex;
  justify-content: center;
}
.back {
  color: #2e1935;
}
.interests i {
  position: relative;
  right: 8px;
}
/* -------------------------------------------------------- */
/* -----------------------Education------------------------ */
/* -------------------------------------------------------- */
.educ {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 20px;
}
.educ .date {
  font-weight: bold;
  margin-top: 15px;
}
.educ h5 {
  font-weight: 600;
  color: #6e00c3;
  font-size: 20px;
  margin-bottom: 5px;
}
.educfix {
  font-style: italic;
}
/* -------------------------------------------------------- */
/* ---------------------Work-Experience-------------------- */
/* -------------------------------------------------------- */
.value span {
  position: relative;
  top: -2px;
  font-size: 15px;
  font-weight: 200;
  color: #666;
}
.companyname {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
#aboutwork {
  font-size: 15px;
  font-style: italic;
}
/* -------------------------------------------------------- */
/* ---------------------Right-Side-FIXING----------------- */
/* -------------------------------------------------------- */
.rightside {
  position: relative;
  top: -20px;
}
/* -------------------------------------------------------- */
/* -------------------------Media-------------------------- */
/* -------------------------------------------------------- */
@media (max-width: 1024px) {
  h4 {
    font-size: 1em;
  }
  #Volunteer {
    font-size: 15px;
  }
  .rghtfix {
    margin-left: 20px;
  }
  .interests p {
    margin-bottom: 17px;
  }
}
/* ----------------------Tablet-------------------------- */
@media (max-width: 1023px) {
  .about {
    color: rgb(223, 224, 223);
    font-size: 16px;
    padding: 1px;
    margin-bottom: 70px;
    line-height: 25px;
    padding-top: 10px;
  }
  .leftside img {
    width: 230px;
    height: 230px;
    margin-left: 2vh;
    margin-top: 0vh;
  }
  .top {
    height: 425px;
  }
  .maincontainer {
    margin: 30px;
  }
  .languages .languagesbox {
    grid-template-columns: 2fr 2fr;
    margin: 20px;
    margin-left: 0;
  }
  .contactInfo {
    font-size: 15x;
  }
  #Volunteer {
    font-size: 14px;
  }
  h4 {
    font-size: 0.9em;
  }
  .educ h5 {
    font-weight: 600;
    color: #6e00c3;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .companyname {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
  }
  .workexp {
    font-size: 15px;
  }
  #aboutwork {
    font-size: 12px;
    font-style: italic;
  }
  .vole {
    margin-left: 10px;
  }
  .educ {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 20px;
  }
  .educfix {
    font-size: 15px;
    font-style: italic;
  }
  .interests p {
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    margin-left: 0;
  }
  .interests i {
    position: relative;
    right: 8px;
    top: 3px;
  }
}
/* ---------------------Mobile-L++-------------------------- */
@media (max-width: 725px) {
  .leftside img {
    width: 210px;
    height: 210px;
    margin-left: 2vh;
    margin-bottom: 2vh;
  }
  .top {
    height: 340px;
  }

  .top h2 {
    font-size: 42px;
    margin-left: 35px;
    padding-top: 35px;
  }

  .top span {
    font-size: 34px;
  }

  .about {
    color: rgb(223, 224, 223);
    font-size: 14px;
    padding: 1px;
    line-height: 23px;
    margin-top: 15px;
  }

  .middle {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px;
    gap: 30px;
  }

  .contactInfo {
    font-size: 14px;
    gap: 10px;
  }

  .languages {
    font-size: 13px;
  }
  .languages .languagesbox {
    grid-template-columns: 4fr 6fr;
    margin: 10px 0;
    display: grid;
  }

  .educ {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .educationfix {
    display: grid;
    grid-template-columns: 2fr 5fr;
  }

  .companyname {
    font-size: 16px;
    margin-top: 15px;
  }

  .educ h5 {
    font-size: 16px;
  }

  .workexp {
    font-size: 14px;
  }

  #aboutwork {
    font-size: 12px;
  }

  .interests {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .interests p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .interests i {
    font-size: 16px;
    right: 6px;
    top: 2px;
  }
/* fdsfsgdsgsgsggadgdgsdgdsgsdfgdsgdsfgdsgdsfbqeejhwwtrfoystjhostajhrgdjf */
  .rightside {
    top: 0;
  }
.educ .companyname {
  font-size: 17px;
}}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (max-width: 644px) {
  .leftside img {
    width: 180px;
    height: 180px;
    margin-left: 2vh;
    margin-bottom: 4vh;
  }
  .top {
    height: 300px;
  }

  .top h2 {
    font-size: 38px;
    margin-left: 25px;
    padding-top: 25px;
  }

  .top span {
    font-size: 27px;
  }

  .about {
    color: rgb(223, 224, 223);
    font-size: 13px;
    padding: 1px;
    line-height: 20px;
  }
  #Volunteer {
    text-align: center;
  }
  #volsize1 {
    font-size: 15px;
  }
  #volsize2 {
    font-size: 15px;
  }
  .educ {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .educationfix {
    display: grid;
    grid-template-columns: 2fr 5fr;
  }

  .languages .languagesbox {
    grid-template-columns: 4fr 6fr;
    margin: 10px 0;
    display: grid;
  }
  .educ .companyname {
    font-size: 17px;
  }}
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  @media (max-width: 560px) {
    .maincontainer {
      margin: 10px;
    }
    .leftside img {
      width: 155px;
      height: 155px;
      margin-left: 2vh;
      margin-bottom: 3vh;
    }
    .top {
      padding-top: 5px;
      height: 265px;
    }

    .top h2 {
      font-size: 32px;
      margin-left: 25px;
    }

    .top span {
      font-size: 24px;
    }

    .about {
      color: rgb(223, 224, 223);
      font-size: 13px;
      margin-top: 5px;
      line-height: 18px;
    }
    #Volunteer {
      text-align: center;
    }
    #volsize1 {
      font-size: 14px;
      margin: 3px;
    }
    #volsize2 {
      font-size: 14px;
      margin: 3px;
    }
    .educ {
      display: grid;
      grid-template-columns: 2fr 4fr;
    }
    .educationfix {
      display: grid;
      grid-template-columns: 2fr 5fr;
    }

    .middle {
      grid-template-columns: 1fr 4fr;
      display: grid;
    }
    .languages .languagesbox {
      grid-template-columns: 4fr 6fr;
      margin: 10px 0;
      display: grid;
    }
    .educ .companyname {
      font-size: 15px;
    }
    .contactInfo {
      font-size: 12px;
    }
  }
  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
  /* -----------------------Mobile-M-------------------------- */
  @media (max-width: 524px) {
  }
